.btn-primary {
  background-color: #6646a2 !important;
  border-color: #6646a2 !important;
}

.btn-primary:hover {
  background-color: #4c2991 !important;
  border-color: #4c2991 !important;
}

a {
  color: #4c2991 !important;
}

input:focus {
  border-color: #6646a2 !important;
  box-shadow: 0px 0px 5px #6646a2 !important;
}

.logout-btn {
  color: #4c2991 !important;
}

.bg-dark.navbar-custom  {
  background-color: #6646a2 !important;
  color: white !important;
}

.nav-link, .nav-brand {
  color: white !important;
}

.navbar-toggler {
  background-color: #6646a2 !important;
  border-color: rgba(255, 255, 255, 0.664) !important;
}

h1, h2, h3, h4 {
  color: #4c2991;
}

p {
  text-align: justify;
  color: #4c2991;
}

ul {
  color: #4c2991;
}

.small-caps {
  font-variant: small-caps;
  color: #4c2991 !important;
}

.card-header {
  background-color: #6646a2 !important;
}

.prompt-done {
  text-decoration: line-through !important;
}

.guild-card {
  color: #4c2991 !important;
}

.form-select:focus {
  border-color: #6646a2 !important;
  box-shadow: 0px 0px 5px #6646a2 !important;
}

.prompt-align {
  text-align: left;
}

.eszti-img {
  max-height: 400px;
  height: 100%;
}

.creator-btn {
  text-decoration: none;
}

.help-card.card {
  background-color: #6646a2 !important;
}

.event-link, .book-link {
  text-decoration: none;
  color: white !important;
}

.footer-comp {
  background-color: #6646a2;
  opacity: 0.85;
}

.subguilds {
  font-size: 18px;
}

.form-label {
  color: #4c2991;
}

select {
  color: #4c2991 !important;
}